@model Challenge.Models.Profesor



<h2>Modificar Docente </h2>

@if (@TempData["Mensaje"] != null)
{
    <div class="success">
        <p>@TempData["Mensaje"]</p>
    </div>
}

@if (ViewBag.Lista != null)
{
    <form action="/Admin/ModificarDocente" method="post">
        <br />
        <select name="idDocente" class="form-group input-propio">
            <option value="-1">Seleccione un Docente </option>

            @foreach (Challenge.Models.Profesor p in ViewBag.Lista)
            {
                <option value="@p.id">@p.Name  @p.Lastname</option>
            }


        </select>

        <button class="btn btn-primary" type="submit">
            Modificar
        </button>
    </form>
}








@if (Model != null)
{
    <h2>DetallesProfesor</h2>

    using (Html.BeginForm("GuardarModificacion", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Profesor</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Dni, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    

}
        <div class="atras">
            @Html.ActionLink("Atras", "GestionProfesores")
        </div>


